doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    | 	
    meta(name='viewport', content='width=device-width')
    | 	
    title James Design | Welcome
    | 	
    link(rel='stylesheet', href='css/style.css')
  body
    header
      .container
        #branding
          h1
            span.highlight James
            |  Web Design
        | 			
        nav
          ul
            li.current
              a(href='index.html') Home
            | 					
            li
              a(href='about.html') About
            | 					
            li
              a(href='services.html') Services
            | 					
            li
              a(href='gallery.html') Gallery
      // container
    | 	
    section#showcase
      .container
        h1 Affordable Professional Website
        | 			
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quod odio nam. Numquam dignissimos voluptate corporis! Enim veniam officia tenetur pariatur alias doloribus voluptatibus, nobis impedit eveniet obcaecati! Quidem, perspiciatis.
    | 	
    section#newsletter
      .container
        h2 Subscribe to our News letter
        | 			
        form(action='#')
          input(required='', type='email', placeholder='Enter email...')
          | 				
          button.subcribeBtn(type='submit') Subscribe
    | 	
    section#boxes
      .container
        .box
          img(src='./img/logo_html.png', alt='')
          | 				
          h3 HTML5 Mark Up
          | 				
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        | 			
        .box
          img(src='./img/logo_css.png', alt='')
          | 				
          h3 CSS3 Stying
          | 				
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        | 			
        .box
          img(src='./img/logo_brush.png', alt='')
          | 				
          h3 Graphic Design
          | 				
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    | 	
    footer
      p James Web Design, Copyright © 2017
